/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 85%;
    margin: 0 auto;


}

.hamburger {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    color: black;
    height: 10vh;
}

.navbar-links {
    display: flex;
    justify-content: center;

}

.navbar-header {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-links ul {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;

}

.navbar-links li {
    list-style: none;
}

.navbar li:hover {
    background-color: whitesmoke;
}

.navbar-links a {
    text-decoration: none;
    padding: 20px;
    color: gray;

}

button {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 4rem;
    height: 2rem;
    width: 8rem;
}

.top-section {
    display: flex;
    flex-direction: row;
    margin-right: 0rem;
}

.top-section {
    background-image: url(/images/bg-intro-desktop.svg);
    background-size: contain;
    background-position: top -53px right -169px;
    background-repeat: no-repeat;

    overflow: hidden;
}

.phone-image {
    width: 74%;
    transform: translate(51%, -14%);
}

.details-section {
    color: gray;

    padding: 10% 0% 0% 12%;
}

.details-section h1 {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 1px;
    padding-bottom: 22px;
}

.details-section p {
    padding-bottom: 22px;
}

.bank {
    display: flex;
    flex-direction: row;
    gap: 8%;

}

.middle-section {
    padding-top: 6%;
    padding-left: 10%;
    background-color: whitesmoke;
    background-clip: border-box;

}



.middle-section h1 {
    padding-bottom: 22px;

    color: black;
    font-size: 1.4rem;
    opacity: 0.8;
}

.middle-section p {
    padding-bottom: 24px;
}

.flex-box {
    height: auto;
    width: 192px;
    border-radius: 1rem;
}

.box {
    height: 55%;
    width: 100%;
}


p {
    color: gray;
}

.icons {
    padding-bottom: 22px;
}

.article-section h1 {
    padding: 12px 0px 12px;
    color: black;
    font-size: 1.4rem;
    opacity: 0.8;
}

.bank-application {
    margin-bottom: 2vh;
}

.article-section {
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.bottom-section {
    padding-top: 6%;
    padding-left: 10%;
}

.bottom-section h1 {
    padding-bottom: 12px;
    color: black;
    font-size: 3rem;
    opacity: 0.8;
}

.article-section h2 {
    padding: 12px 0px 12px;
    color: black;
    font-size: 1.4rem;
    opacity: 0.8;
}

.article-images {
    height: auto;
    width: 200px;
    border-radius: 1rem;
}

.image {
    height: 150px;
    width: 200px;
    border-radius: 4px;
    padding-bottom: 21px;
}

.footer {
    margin-top: 10%;
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

.footer-header {

    margin: 23px 0px 18px
}

.footer-icons {
    display: flex;
    gap: 11px;
    padding-top: 20px;
}

.footer li {
    padding-top: 20px;
}

.footer-button {
    padding: 20px 0px 20px;
}

.footer-button p {
    padding-top: 20px;
}

.hamburger {
    display: none;
    position: absolute;
    top: .75rem;
    right: 1rem;

}

@media screen AND (max-width:375px) {
    .hamburger {
        display: flex;


    }

    .navbar-links {
        display: none;
        position: absolute;
        background-color: white;
        z-index: 100;
        width: 74%;
        top: 93px;
        left: 17%;
        padding: 19px;
    }

    .navbar {
        flex-direction: column;
        justify-content: flex-start;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        width: 100%;
        text-align: center;
        margin-bottom: 21px;
    }

    .navbar-links.active {
        display: flex;
    }

    .top-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 0rem;
    }

    .middle-section {
        padding-top: 6%;
        padding: 4%;
        text-align: center;
        background-color: whitesmoke;
        background-clip: border-box;
    }



    .bank {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .flex-box {
        height: auto;
        width: 277px;
        border-radius: 1rem;
    }

    .article-section {
        display: flex;
        flex-direction: column;
        gap: 7%;
        padding: 0px 15px 0px 15px;
    }

    .article-section h1 {
        padding-left: 41px;
    }

    .article-images {
        margin-top: 17px;
        height: auto;
        width: 333px;
        border-radius: 1rem;
        background-color: whitesmoke;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .navbar-button {
        display: none;
    }

    .image-mockups {
        background-image: url("./images/bg-intro-mobile.svg");
        order: 0;
        align-items: center;
    }

    .details-section {
        order: 1;
        padding: 10% 0% 8% 0%;
        text-align: center;
    }

    .bottom-section {
        padding-top: 6%;
        padding-left: 0%;
    }



    .image {
        height: 187px;
        width: 333px;
        border-radius: 4px;
        padding-bottom: 21px;
    }

}